body {
  padding-bottom: 70px;
}

hr {
  margin: 10px 0;
}

.radio-inline {
  margin: 0 50px;
}

.question_container {
  padding:0 10px 10px 10px;
  margin:0 -10px -10px -10px;
}

.question_container:hover {
  background: #eee;
}
